﻿/* $Id$ */

/*
 * LAYOUT STYLES
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, padding, overflow
 */

/** Ghetto Reset **/
* {
	margin: 0;
	padding: 0;
}

/** block-level elements **/
p, ul, ol, dl, pre, table, fieldset {
  margin: 1em 0;
}

blockquote {
	margin:1em auto;
	padding:.5em 2em;
	width:80%;
	height:auto;
}

/** Lists **/
ul, ol {
  margin-left: 0;
  padding-left: 2em;
}

.block ul, 
.item-list ul {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

ul ul, ul ol,
ol ol, ol ul,
.block ul ul, .block ul ol,
.block ol ol, .block ol ul,
.item-list ul ul, .item-list ul ol,
.item-list ol ol, .item-list ol ul {
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

.item-list ul li {
  margin: 0;
  padding: 0;
}

dt {
	margin: 0;
	padding: 0;
}

dd {
	margin: .3em 0 0 1.5em;
	padding: 0;
}

/** Width **/
.width160 {width: 17%;}
.width340 {width: 36.1%;}
.width580 {width: 61.8%;}
.width760 {width: 80.9%;}
.width960 {width: 100%;}

/** Top Nav **/
#topnav-inner {
	margin: auto;
	max-width: 96em;
	width: 92%;
	height: 2.3em;
	padding: .7em 0 0;
}

#navleft {
	float: left;
	margin: 0 0 0 1em;
	padding: 0;
}

#navleft li {
	display: inline;
	margin: 0 1.5em 0 0;
}

/** Header **/
#header {
	padding: 1.2em 0;
}

#header-inner {
	margin: auto;
	max-width: 96em;
	width: 92%;
}

#logo,
#site-title {
	float: left;
}

#headerleft {
	float: left;
	margin: 0 0 0 1em;
}

#headerright {
	float: right;
	margin: 0 1em 0 0;
}

/** Search **/
#search {
	margin: 2.7em 1em 0 0;
}

#search .form-submit {
	margin: .7em 0 0;
	padding: 0;
	width: auto;
}

/** Main Navigation **/
#mainnav-inner {
	margin: auto;
	max-width: 96em;
	width: 92%;
	height: 3.7em;
}

#navlist {
	float: left;
	width: 91.66%;
	margin: 0 0 0 1em;
}

#navlist a {
	display: block;
	padding: .9em 1.5em;
}

#navlist ul {
	margin: 0;
	padding: 0;
}

#navlist li {
	float: left;
	padding: 0;
	margin: 0;
}

#navlist li:hover ul {
	display: block;
	position: absolute;
}

#navlist li ul { 
	margin: 0;
	display: none;
}

#navlist li ul li {
	clear: both;
}

#navlist li ul li a {
	width: 12em;
	margin: 0;
	padding: .8em 1em;
}

#rss {
	margin: 1.3em 1.5em 0 0; 
	width: 1.6em; 
	height: 1.7em;
	float: right;
}

/** Top Dock **/
#top-dock {
	margin: 1.6em auto;
	max-width: 96em;
	width: 92%;
}

#top-dock-inner {
	margin: auto;
	margin: 0 1em;
}

/** Mission **/
#mission {
	padding: 0.5em 1em;
}

/** Help **/
.help {
	margin: 0 auto 1em;
	padding: 0.9em 1.2em;
}

/* Message */
/* Important messages (status, warning, and error) for the user */
div.messages, 
div.status,
div.warning,
div.error	{
	margin: 0 auto 1em;
	padding: 0.9em 1.2em;
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/** Tabs and Breadcrumb **/
.tabs,
.breadcrumb {
	margin: 0 0 1em;
}

/* Content Top and Content Bottom*/
.width580 #content-top-top,
.width580 #content-top-bottom,
.width580 #content-top-wrapper,
.width580 #content-bottom-top,
.width580 #content-bottom-bottom,
.width580 #content-bottom-wrapper {
	width: 100%;
}

.width760 #content-top-top,
.width760 #content-top-bottom,
.width760 #content-top-wrapper,
.width760 #content-bottom-top,
.width760 #content-bottom-bottom,
.width760 #content-bottom-wrapper {
	width: 76.3%;
}

.width960 #content-top-top,
.width960 #content-top-bottom,
.width960 #content-top-wrapper,
.width960 #content-bottom-top,
.width960 #content-bottom-bottom,
.width960 #content-bottom-wrapper {
	width: 61.8%;
}

#content-top-left,
#content-bottom-left {
	float: left;
	width: 48.1%;
	margin-right: 3.44%;
}

#content-top-right,
#content-bottom-right {
	float: right;
	width: 48.1%;
}

/** Main Content **/
#page {
	margin: 1.6em auto 1em;
	max-width: 96em;
	width: 92%;
}

#page-inner {
	margin: 0 1em;
}

.main {
	float: left;
	padding: 0;
}

.node-form,
.node-type-list,
.main-inner,
#node-delete-confirm {
	padding: 1.5em;
	margin: 0 0 1em;
}

.page-taxonomy .main-inner,
.page-node .main-inner,
.front .main-inner {
	padding: 0;
}

.node {
	margin: 0 0 1em;
	padding: 1em 1.2em;
}

.node h2 {
	margin: 0 0 .4em;
}

.node .content {
	margin: 1.25em 0 2em;
}

/** Comment **/
#comments {
	margin: 0 0 1em;
	padding: 1em 1.2em;
}

.comment {
	padding: 1em;
}

/** Side Bar **/
.sidebar {
	float: right;
}

#topside,
#bottomside {
	float: right;
	width: 100%;
}

.width340 #leftbox {
	float: left;
	width: 47%;
}
.width340 #rightbox {
	float: right;
	width: 47%;
}

.width160 #leftbox {
	float: left;
	width: 100%;
}
.width160 #rightbox {
	float: right;
	width: 100%;
}

.sidebar li a {
	display: block;
	padding: .5em;
	height: 1%;
}

.sidebar .block ul {
	padding: 0;
}

.sidebar .block ul li {
	padding: 0;
	margin: 0;
}

.sidebar .block ul li ul {
	padding-left: 2em;
}

/** Bottom Dock **/
#bottom-dock {
	margin: auto;
	max-width: 96em;
	width: 92%;
}

#bottom-dock-inner {
	margin: 0 1em;
}

/** Footer **/
#footer-container {
	padding: 1.6em 0;
	margin: 2.5em 0 0;
}

#footer {
	max-width: 96em;
	width: 92%;
	margin: auto;
}

#footer-inner {
	margin: 0 1em;
}

#footer-wrapper {
	width: 61.8%;
	float: left;
}

#footer-left {
	float: left;
	margin-right: 3.44%;
	width: 48.27%;
}

#footer-middle {
	float: right;
	width: 48.27%;
}

#footer-right {
	float: right;
	width: 36.1%;
}

#footer-message-container {
  padding: 1.5em 0;
}

#footer-message {
	margin: auto;
	max-width: 96em;
	width: 92%;
}

#footer-message-inner {
	margin: 0 1em;
}

/* Blocks */
.block {
	padding: .9em 1.2em;
	margin: 0 0 1em;
}

.block h2 {
	margin: 0 0 .7em;
	padding: .5em .8em;
}

.block-region {
	padding: 1em;
}

/** forms **/
form {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 1em 0;
  padding: 0.5em;
}

/** Tables **/
table {
  margin: 1em 0;
  width: 100%;
}

td, th {
  padding: .3em .5em;
}

td.block {
	padding: 0;
}

/** Rollover edit links for blocks **/

div.block.with-block-editing {
  position: relative;
}

div.block.with-block-editing div.edit {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 40;
  padding: 0 .2em;
}

div.block.with-block-editing:hover div.edit {
  display: block;
}

/** Clearfix **/
.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}