﻿/* $Id$ */

/* Hydra : Theme Style */

/** body **/
body{
	background: #EBE9E1;
}

/** Top Nav **/
#topnav {
	background: #333;
	border-bottom: 1px #666 solid;
}

/** Header **/
#header {
	background: #333;
}

/** Main Navigation **/
#mainnav {
	background: #fff;
	border-bottom: 1px solid #DEDBD1;
}

#navlist a:hover {
	background: #F5F4F0;
}

#navlist li {
	list-style: none;
	border-left: 1px solid #DEDBD1;
}

#navlist .last {
	border-right: 1px solid #DEDBD1;
}

#navlist li ul .first{
	border-top: 1px solid #DEDBD1;
}

#navlist li ul .last{
	border: none;
}

#navlist li ul li {
	border: none;
}

#navlist li ul li a {
	background: #fff;
	border-bottom: 1px solid #DEDBD1;
	border-left: 1px solid #DEDBD1;
	border-right: 1px solid #DEDBD1;
}

#navlist li ul li a:hover,
#navlist li ul li a:active,
#navlist li ul li a:focus {
	background: #F5F4F0;
}

/** Mission **/
#mission {
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

/** Help **/
.help {
	background: #fff;
	border: 1px solid #C0C0C0;
}

/* Message */
/* Important messages (status, warning, and error) for the user */
div.messages, 
div.status,
div.warning,
div.error	{
  border: 2px solid #ff7;
  background-color: #ffc;
}

/* Normal priority messages */
div.status {
	border-color: #259A0E;
	background-color: #D6F3C7;
}

/* Medium priority messages */
div.warning {
  border-color: #fc0;
}

div.warning,
tr.warning,
body.section-admin tr.warning {
  color: #000; /* Drupal core uses #220 */
  background-color: #ffc;
}

/* High priority messages. */
div.error {
  /* border: 1px solid #d77; */ /* Drupal core uses: 1px solid #d77 */
  border-color: #c00;
}

div.error,
tr.error,
body.section-admin tr.error {
  color: #900; /* Drupal core uses #200 */
  background-color: #fee;
}

/** Breadcrumb **/
.breadcrumb {
	border-bottom: 1px dotted #C0C0C0;
	margin: 0.9em 0 1em;
}

/** Main Content **/
.node-form,
.node-type-list,
#node-delete-confirm,
.main-inner {
	background: #fff;
	border: 1px solid #C0C0C0;
}

.page-taxonomy .main-inner,
.page-node .main-inner,
.front .main-inner {
	background: none;
	border: none;
}

.node {
	background: #fff;
	border: 1px solid #C0C0C0;
}

/** Comment **/
#comments {
	background: #FFF;
	border: 1px solid #C0C0C0;
}

/** Side Bar **/
.sidebar li a{
	border-bottom: 1px solid #DEDBD1;
}

.sidebar li a:hover{
	background: #F0EEE8;
}

.sidebar .block ul li{
	list-style: none;
}

.sidebar .block ul li ul{
	list-style: none;
}

/** Footer **/
#footer-container {
	background: #E4E2DB;
	border-top: 1px #C1BDAC solid;
}

#footer-message-container {
  background: #666;
}

/* Blocks */
.block {
	background: #fff;
	border: 1px solid #C0C0C0;
}

.block h2 {
	background: #EBEBEB;
}

.block-region {
	background: none;
	border: .2em dashed #005A2A;
	font-size: 1.2em;
	text-align: center;
}

/** Lists **/
.item-list ul li {
  list-style: inherit;
}

ul.menu li, li.leaf,
li.active-trail,
li.collapsed,
li.expanded {
	list-style-image: none;
}

ul          { list-style-type: disc; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

/** images **/
img {
  border: 0;
}

/** horizontal rules **/
hr {
  height: 1px;
  border: 1px solid #666;
}

/** abbreviations **/
abbr {
  border-bottom: 1px dotted #666;
  cursor: help;
  white-space: nowrap;
}

/* Date-based "abbreviations" show computer-friendly timestamps which are not
   human-friendly. */
abbr.created {
  border: none;
  cursor: auto;
  white-space: normal;
}

/** Blockquote **/
blockquote {
	background:#f8fbfc;
	border:.1em solid #edeff0;
}

/** Tables **/
thead th {
  border-bottom: .2em solid #d3e7f4;
}

tr.odd, tr.info {
  background-color: #edf5fa;
  border-bottom: 1px #D3E7F4 solid; 
}

tr.odd .form-item,
tr.even .form-item {
	background: none;
}

tr.odd:hover, tr.info:hover {
	background-color:  #DEEDF5;
}

tr.even {
  background-color: #fff;
  border-bottom: 1px #D3E7F4 solid; 
}

tr.even:hover {
	background-color: #FFFFF4;
}

tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffd;
}

tr.odd td.active {
  background-color: #ddecf5;
}

tr.even td.active {
  background-color: #e6f1f7;
}

td.region, td.module,
td.container, td.category {
  border-top: 1.5em solid #fff;
  background-color: #d4e7f3;
}

tr:first-child td.region,
tr:first-child td.module,
tr:first-child td.container,
tr:first-child td.category {
  border-top-width: 0;
}

td.block  {
	background: none;
	border: none;
}

/** Rollover edit links for blocks **/
div.block.with-block-editing div.edit {
  border: 1px solid #eee;
  background-color: #fff;
}