﻿/* $Id$ */

/* Hydra : Theme Typography */

/** Links **/
a {
	color: #005A2A;
	text-decoration: none;
}
a:hover {
	color: #005A2A;
}

a:visited {
	color: #005A2A;
}

a:active {
	color: #005A2A;
}

pre, code {
  font-size: 1.1em; /* Monospace fonts can be hard to read */
  font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;
}

/** Heading **/
h1 {
	font-size: 2.5em;
	line-height: 1.3em;
	margin:0.5em 0;
}

h2 {
	font-size: 2em;
	line-height: 1.3em;
	margin:0.5em 0;
}

h3 {
	font-size: 1.8em;
	line-height: 1.3em;
	margin:0.5em 0;
}

h4, h5, h6 {
	font-size: 1.6em;
	line-height: 1.3em;
	margin:0.4em 0;
}


/** Drop Cap **/
.dcap {
	color: #919F20;
	font: 5.55em/.77em Georgia, "Times New Roman", Times, serif;
	display: inline;
	float: left;
	margin: 0.05em 0.14em 0 -3px;
	padding-left: 4px;
	text-transform: uppercase;
}

/** Raised Cap **/
.rcap {
	color: #919F20;
	font: 5.5em/.7em Georgia, "Times New Roman", Times, serif;
	display: inline;
	margin: 0.05em 0.06em 0 -3px;
	padding-left: 4px;
	text-transform: uppercase;
}

/** body **/
body {
	font: 62.5% Arial,Helvetica,Tahoma,Verdana,Sans-Serif;
	color: #202020;
}

/** Top Nav **/
#navleft li a {
	color: #ccc;
	font: 1.1em Georgia, "Times New Roman", Times, serif;
}
#navleft li a:hover,
#navleft li a:active {
  color: #fff;
}

/** Header **/
#header-inner h2 {
	color: #B9B9B9;
	font: 1em Verdana, Arial, Helvetica, sans-serif;
}

#header-inner h1 {
	font: bold 4.2em Verdana, Arial, Helvetica, sans-serif;
	margin:0;
}

#header-inner h1 a {
	color: #FEFEFE;
}

#header-inner h1 a:hover {
	color: #d7d7d7;
}

/** Main Navigation **/
#navlist a {
	color: #333;
	font: 1.2em Georgia, "Times New Roman", Times, serif;
}

#navlist a:hover {
	color: #005A2A;
}

#navlist li ul li a {
	color: #333;
}

#navlist li ul li a:hover,
#navlist li ul li a:active,
#navlist li ul li a:focus {
	color: #005A2A;
}

/** Mission **/
#mission {
	color: #666;
	font: italic normal normal 2.5em/1.4em "Warnock Pro", "Goudy Old Style", Palatino, "Book Antiqua", Georgia, serif;
}

.messages,
.breadcrumb,
.tabs,
.help {
	font-size: 1.2em;
}

/** Main Content **/
.node-form,
.node-type-list,
#node-delete-confirm,
.main-inner {
	font-size: 1.2em;
}

.node h2 {
	font: 1.8em Georgia, "Times New Roman", Times, serif;
}

.node h2 a{
	color: #202020;
	text-decoration: none;
}

.node h2 a:hover{
	color: #B60000;
}

.node .content {
	font-size: 1em;
	line-height:1.6em;
}

/** Paragraph **/
.node .content p + p {
	text-indent:1em;
}

.content {
	font-size: 1.2em;
	line-height: 1.6em;
}

#system-themes-form {
	font-size: 0.8em;
}

/** Comment **/
#footer-message {
  color: #ccc;
}

.comment {
	font-size: .9em;
}

.comment .content {
	font-size: 1.2em;
	line-height: 1.6em;
	overflow:auto;
	word-wrap: break-word;
}

/* Blocks */
.block h2 {
	color: #363636;
	font: bold 1.2em Arial, Helvetica, sans-serif;	
}
/** Search **/
.search-result {
	font-size: .8em;
	line-height: 1.5em;
}

/** Tables **/
thead th {
  color: #494949;
  font-weight: bold;
}

th a:link, th a:visited {
  color: #30393D;
}

td.region, td.module,
td.container, td.category {
  color: #455067;
  font-weight: bold;
}
