﻿/* $Id$ */

/*
 * LAYOUT STYLES
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */

/** Ghetto Reset **/
*{
	margin: 0;
	padding: 0;
}

/** Width **/
.width160 {width:16em;}
.width340 {width:34em;}
.width580 {width:58em;}
.width760 {width:76em;}
.width960 {width:96em;}

/** Top Nav **/
#topnav-inner {
	margin:auto;
	width:96em;
	height:2.3em;
	padding:.7em 0 0;
}

#navleft {
	float:left;
	margin:0 0 0 1em;
	padding:0;
}

#navleft li {
	display:inline;
	margin:0 1.5em 0 0;
}

/** Header **/
#header {
	padding:1.2em 0;
}

#header-inner {
	margin: auto;
	width: 96em;
}

#logo,
#site-title {
	float:left;
}

#headerleft {
	float:left;
	margin:0 0 0 1em;
}

#headerright {
	float:right;
	margin:0 1em 0 0;
}

/** Search **/
#search {
	margin:2.7em 1em 0 0;
}

#search .form-submit {
	margin:.7em 0 0;
	padding:0;
	width:auto;
}

/** Main Navigation **/
#mainnav-inner {
	margin:auto;
	width:96em;
	height:3.7em;
}

#navlist {
	float:left;
	width:88em;
	margin:0 0 0 1em;
}

#navlist a {
	display: block;
	padding: .9em 1.5em;
}

#navlist ul {
	margin:0;
	padding:0;
}

#navlist li {
	float:left;
	padding:0;
	margin:0;
}

#navlist li:hover ul {
	display: block;
	position: absolute;
}

#navlist li ul { 
	margin:0;
	display: none;
}

#navlist li ul li {
	border:none;
	clear:both;
}

#navlist li ul li a {
	width:12em;
	margin:0;
	padding:.8em 1em;
}

#rss {
	margin:1.3em 1.5em 0 0; 
	width:1.6em; 
	height:1.7em;
	float:right;
}

/** Top Dock **/
#top-dock {
	margin:1.6em auto;
	width:96em;
}

#top-dock-inner {
	margin:auto;
	margin:0 1em;
}

/** Mission **/
#mission,
.messages,
div.warning,
.help {
	margin:0 auto 1em;
	padding:0.9em 1.2em;
}

.tabs,
.breadcrumb {
	margin:0 0 1em;
}

/* Content Top and Content Bottom*/
#content-top-top,
#content-top-bottom,
#content-top-wrapper,
#content-bottom-top,
#content-bottom-bottom,
#content-bottom-wrapper {
	width:58em;
}

#content-top-left,
#content-bottom-left {
	float:left;
	width:28em;
	margin-right:2em;
}

#content-top-right,
#content-bottom-right {
	float:right;
	width:28em;
}

/** Main Content **/
#page {
	margin:1.6em auto 1em;
	width:96em;
}

#page-inner {
	margin:0 1em;
}

.main {
	float:left;
	padding:0;
}

.node-form,
.node-type-list,
.main-inner,
#node-delete-confirm {
	padding:1.5em;
	margin:0 0 1em;
}

.page-taxonomy .main-inner,
.page-node .main-inner,
.front .main-inner {
	background:none;
	padding:0;
	border:none;
}

.node {
	margin:0 0 1em;
	padding:1em 1.2em;
}

.node h2 {
	margin:0 0 .4em;
}

.node .content {
	margin:1.25em 0 2em;
	clear:both;
}

/** Comment **/
#comments {
	margin:0 0 1em;
	padding:1em 1.2em;
}

.comment {
	padding:1em;
}

/** Side Bar **/
.sidebar {
	float:right;
}

#topside,
#bottomside {
	float:right;
	width:34em;
}

#leftbox {
	float:left;
	width:16em;
}
#rightbox {
	float:right;
	width:16em;
}

.sidebar li a {
	display:block;
	padding:.5em;
	height: 1%;
}

.sidebar .block ul {
	padding:0;
}

.sidebar .block ul li {
	padding:0;
	margin:0;
}

.sidebar .block ul li ul {
	padding-left:2em;
}

/** Bottom Dock **/
#bottom-dock {
	margin:auto;
	width:96em;	
}

#bottom-dock-inner {
	margin:0 1em;
}

/** Footer **/
#footer-container {
	padding:1.6em 0;
	margin:2.5em 0 0;
}

#footer {
	width:96em;
	margin:auto;
}

#footer-inner {
	margin:0 1em;
}

#footer-wrapper {
	width:58em;
	float:left;
}

#footer-left {
	float:left;
	margin-right:2em;
	width:28em;
}

#footer-middle {
	float:right;
	width:28em;
}

#footer-right {
	float:right;
	width:34em;
}

#footer-message-container {
  padding: 1.5em 0;
}

#footer-message {
	margin:auto;
}

#footer-message-inner {
	margin:0 1em;
}

/* Blocks */
.block {
	padding:.9em 1.2em;
	margin:0 0 1em;
}

.block h2 {
	margin:0 0 .7em;
	padding:.5em .8em;
}

.block-region {
	padding:1em;
}

/** Tables **/
table {
  margin: 1em 0;
  width: 100%;
}

td, th {
  padding: .3em .5em;
}

tr:first-child td.region,
tr:first-child td.module,
tr:first-child td.container,
tr:first-child td.category {
  border-top-width: 0;
}

td.block  {
	padding:0;
}

/** Rollover edit links for blocks **/
div.block.with-block-editing {
  position: relative;
}

div.block.with-block-editing div.edit {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 40;
  padding: 0 .2em;
}

div.block.with-block-editing:hover div.edit {
  display: block;
}

/** Clearfix **/
.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}