﻿/* $Id$ */

/* Hydra : Theme Style */

/** body **/
body{
	font: 62.5% Arial,Helvetica,Tahoma,Verdana,Sans-Serif;
	color:#202020;
	background:#EBE9E1;
}

/** Links **/
a{
	color:#005A2A;
	text-decoration:none;
}
a:hover{
	color:#005A2A;
}

a:visited{
	color:#005A2A;
}

a:active{
	color:#005A2A;
}

/** Top Nav **/
#topnav {
	background:#333;
	border-bottom:.1em #666 solid;
}

#navleft li a {
	color:#ccc;
	font:1.1em Georgia, "Times New Roman", Times, serif;
}
#navleft li a:hover,
#navleft li a:active {
  color: #fff;
}

/** Header **/
#header {
	background:#333;
}

#header-inner h2{
	color:#B9B9B9;
	font:1em Verdana, Arial, Helvetica, sans-serif;
	margin:0;
}

#header-inner h1{
	font:bold 4.2em Verdana, Arial, Helvetica, sans-serif;
}

#header-inner h1 a{
	color:#FEFEFE;
}

#header-inner h1 a:hover{
	color:#d7d7d7;
}

/** Main Navigation **/
#mainnav {
	background:#fff;
	border-bottom:.1em solid #DEDBD1;
}

#navlist li {
	list-style:none;
	border-left:.1em solid #DEDBD1;
}

#navlist .last {
	border-right:.1em solid #DEDBD1;
}

#navlist a {
	color: #333;
	font: 1.2em Georgia, "Times New Roman", Times, serif;
}

#navlist a:hover {
	color:#005A2A;
	background:#F5F4F0;
}

#navlist li ul .first{
	border-top:.1em solid #DEDBD1;
}

#navlist li ul .last{
	border:none;
}

#navlist li ul li a {
	color:#333;
	background:#fff;
	border-bottom:.1em solid #DEDBD1;
	border-left:.1em solid #DEDBD1;
	border-right:.1em solid #DEDBD1;
}

#navlist li ul li a:hover,
#navlist li ul li a:active,
#navlist li ul li a:focus {
	color:#005A2A;
	background:#F5F4F0;
}

/** Mission **/
#mission,
.breadcrumb,
.tabs,
.help {
	font-size:1.2em;
}

.messages {
	background:#FFFFDD;		
	font-size:1.2em;
	border:.1em solid #F0C020;
}

.help {
	background:#fff;
	border:0.1em solid #C0C0C0;
}

/** Main Content **/
.node-form,
.node-type-list,
#node-delete-confirm,
.main-inner {
	background:#fff;
	font-size:1.2em;
	border:0.1em solid #C0C0C0;
}

.page-taxonomy .main-inner,
.page-node .main-inner,
.front .main-inner {
	background:none;
	border:none;
}

.node {
	background:#fff;
	border:0.1em solid #C0C0C0;
}

.node h2 {
	font:1.8em Georgia, "Times New Roman", Times, serif;
}

.node h2 a{
	color:#202020;
	text-decoration:none;
}

.node h2 a:hover{
	color:#B60000;
}

.node .content {
	font-size:1em;
}

.content {
	font-size: 1.2em;
	line-height: 1.6em;
}

/** Comment **/
#comments {
	background:#FFF;
	border:.1em solid #C0C0C0;
}

/** Side Bar **/
.sidebar li a{
	border-bottom:.1em solid #DEDBD1;
}

.sidebar li a:hover{
	background: #F0EEE8;
}

.sidebar .block ul li{
	list-style:none;
}

.sidebar .block ul li ul{
	list-style:none;
}

/** Footer **/
#footer-container {
	background:#E4E2DB;
	border-top:.1em #C1BDAC solid;
}

#footer-message-container {
  background: #666;
}

#footer-message {
  color: #ccc;
}

/* Blocks */
.block {
	background:#fff;
	border:.1em solid #C0C0C0;
}

.block h2 {
	background:#EBEBEB;
	color:#363636;
	font:bold 1.2em Arial, Helvetica, sans-serif;	
}

.block-region {
	background:none;
	border:.2em dashed #005A2A;
	font-size:1.2em;
	text-align:center;
}

/** Tables **/
thead th {
  border-bottom: .2em solid #d3e7f4;
  color: #494949;
  font-weight: bold;
}

th a:link, th a:visited {
  color:#30393D;
}

tr.odd, tr.info {
  background-color: #edf5fa;
  border-bottom:.1em #D3E7F4 solid; 
}

tr.odd .form-item,
tr.even .form-item {
	background:none;
}

tr.odd:hover, tr.info:hover {
	background-color: #DEEDF5;
}

tr.even {
  background-color: #fff;
  border-bottom:.1em #D3E7F4 solid; 
}

tr.even:hover {
	background-color: #FFFFF4;
	color:#000;
}

tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffd;
}

tr.odd td.active {
  background-color: #ddecf5;
}

tr.even td.active {
  background-color: #e6f1f7;
}

td.region, td.module,
td.container, td.category {
  border-top: 1.5em solid #fff;
  background-color: #d4e7f3;
  color: #455067;
  font-weight: bold;
}

tr:first-child td.region,
tr:first-child td.module,
tr:first-child td.container,
tr:first-child td.category {
  border-top-width: 0;
}

td.block  {
	background:none;
	border:none;
}

/** Rollover edit links for blocks **/
div.block.with-block-editing div.edit {
  border:.1em solid #eee;
  font-size: .9em;
  background-color: #fff;
}